.input_phone__flag {
  width: 20px;
}
.input_phone__flag.input_phone__be {
  width: 18px;
}
.input_phone__flag.input_phone__ch {
  width: 15px;
}
.input_phone__flag.input_phone__mc {
  width: 19px;
}
.input_phone__flag.input_phone__ne {
  width: 18px;
}
.input_phone__flag.input_phone__np {
  width: 13px;
}
.input_phone__flag.input_phone__va {
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .input_phone__flag {
    background-size: 5762px 15px;
  }
}
.input_phone__flag.input_phone__ac {
  height: 10px;
  background-position: 0px 0px;
}
.input_phone__flag.input_phone__ad {
  height: 14px;
  background-position: -22px 0px;
}
.input_phone__flag.input_phone__ae {
  height: 10px;
  background-position: -44px 0px;
}
.input_phone__flag.input_phone__af {
  height: 14px;
  background-position: -66px 0px;
}
.input_phone__flag.input_phone__ag {
  height: 14px;
  background-position: -88px 0px;
}
.input_phone__flag.input_phone__ai {
  height: 10px;
  background-position: -110px 0px;
}
.input_phone__flag.input_phone__al {
  height: 15px;
  background-position: -132px 0px;
}
.input_phone__flag.input_phone__am {
  height: 10px;
  background-position: -154px 0px;
}
.input_phone__flag.input_phone__ao {
  height: 14px;
  background-position: -176px 0px;
}
.input_phone__flag.input_phone__aq {
  height: 14px;
  background-position: -198px 0px;
}
.input_phone__flag.input_phone__ar {
  height: 13px;
  background-position: -220px 0px;
}
.input_phone__flag.input_phone__as {
  height: 10px;
  background-position: -242px 0px;
}
.input_phone__flag.input_phone__at {
  height: 14px;
  background-position: -264px 0px;
}
.input_phone__flag.input_phone__au {
  height: 10px;
  background-position: -286px 0px;
}
.input_phone__flag.input_phone__aw {
  height: 14px;
  background-position: -308px 0px;
}
.input_phone__flag.input_phone__ax {
  height: 13px;
  background-position: -330px 0px;
}
.input_phone__flag.input_phone__az {
  height: 10px;
  background-position: -352px 0px;
}
.input_phone__flag.input_phone__ba {
  height: 10px;
  background-position: -374px 0px;
}
.input_phone__flag.input_phone__bb {
  height: 14px;
  background-position: -396px 0px;
}
.input_phone__flag.input_phone__bd {
  height: 12px;
  background-position: -418px 0px;
}
.input_phone__flag.input_phone__be {
  height: 15px;
  background-position: -440px 0px;
}
.input_phone__flag.input_phone__bf {
  height: 14px;
  background-position: -460px 0px;
}
.input_phone__flag.input_phone__bg {
  height: 12px;
  background-position: -482px 0px;
}
.input_phone__flag.input_phone__bh {
  height: 12px;
  background-position: -504px 0px;
}
.input_phone__flag.input_phone__bi {
  height: 12px;
  background-position: -526px 0px;
}
.input_phone__flag.input_phone__bj {
  height: 14px;
  background-position: -548px 0px;
}
.input_phone__flag.input_phone__bl {
  height: 14px;
  background-position: -570px 0px;
}
.input_phone__flag.input_phone__bm {
  height: 10px;
  background-position: -592px 0px;
}
.input_phone__flag.input_phone__bn {
  height: 10px;
  background-position: -614px 0px;
}
.input_phone__flag.input_phone__bo {
  height: 14px;
  background-position: -636px 0px;
}
.input_phone__flag.input_phone__bq {
  height: 14px;
  background-position: -658px 0px;
}
.input_phone__flag.input_phone__br {
  height: 14px;
  background-position: -680px 0px;
}
.input_phone__flag.input_phone__bs {
  height: 10px;
  background-position: -702px 0px;
}
.input_phone__flag.input_phone__bt {
  height: 14px;
  background-position: -724px 0px;
}
.input_phone__flag.input_phone__bv {
  height: 15px;
  background-position: -746px 0px;
}
.input_phone__flag.input_phone__bw {
  height: 14px;
  background-position: -768px 0px;
}
.input_phone__flag.input_phone__by {
  height: 10px;
  background-position: -790px 0px;
}
.input_phone__flag.input_phone__bz {
  height: 12px;
  background-position: -812px 0px;
}
.input_phone__flag.input_phone__ca {
  height: 10px;
  background-position: -834px 0px;
}
.input_phone__flag.input_phone__cc {
  height: 10px;
  background-position: -856px 0px;
}
.input_phone__flag.input_phone__cd {
  height: 15px;
  background-position: -878px 0px;
}
.input_phone__flag.input_phone__cf {
  height: 14px;
  background-position: -900px 0px;
}
.input_phone__flag.input_phone__cg {
  height: 14px;
  background-position: -922px 0px;
}
.input_phone__flag.input_phone__ch {
  height: 15px;
  background-position: -944px 0px;
}
.input_phone__flag.input_phone__ci {
  height: 14px;
  background-position: -961px 0px;
}
.input_phone__flag.input_phone__ck {
  height: 10px;
  background-position: -983px 0px;
}
.input_phone__flag.input_phone__cl {
  height: 14px;
  background-position: -1005px 0px;
}
.input_phone__flag.input_phone__cm {
  height: 14px;
  background-position: -1027px 0px;
}
.input_phone__flag.input_phone__cn {
  height: 14px;
  background-position: -1049px 0px;
}
.input_phone__flag.input_phone__co {
  height: 14px;
  background-position: -1071px 0px;
}
.input_phone__flag.input_phone__cp {
  height: 14px;
  background-position: -1093px 0px;
}
.input_phone__flag.input_phone__cq {
  height: 12px;
  background-position: -1115px 0px;
}
.input_phone__flag.input_phone__cr {
  height: 12px;
  background-position: -1137px 0px;
}
.input_phone__flag.input_phone__cu {
  height: 10px;
  background-position: -1159px 0px;
}
.input_phone__flag.input_phone__cv {
  height: 12px;
  background-position: -1181px 0px;
}
.input_phone__flag.input_phone__cw {
  height: 14px;
  background-position: -1203px 0px;
}
.input_phone__flag.input_phone__cx {
  height: 10px;
  background-position: -1225px 0px;
}
.input_phone__flag.input_phone__cy {
  height: 14px;
  background-position: -1247px 0px;
}
.input_phone__flag.input_phone__cz {
  height: 14px;
  background-position: -1269px 0px;
}
.input_phone__flag.input_phone__de {
  height: 12px;
  background-position: -1291px 0px;
}
.input_phone__flag.input_phone__dg {
  height: 10px;
  background-position: -1313px 0px;
}
.input_phone__flag.input_phone__dj {
  height: 14px;
  background-position: -1335px 0px;
}
.input_phone__flag.input_phone__dk {
  height: 15px;
  background-position: -1357px 0px;
}
.input_phone__flag.input_phone__dm {
  height: 10px;
  background-position: -1379px 0px;
}
.input_phone__flag.input_phone__do {
  height: 14px;
  background-position: -1401px 0px;
}
.input_phone__flag.input_phone__dz {
  height: 14px;
  background-position: -1423px 0px;
}
.input_phone__flag.input_phone__ea {
  height: 14px;
  background-position: -1445px 0px;
}
.input_phone__flag.input_phone__ec {
  height: 14px;
  background-position: -1467px 0px;
}
.input_phone__flag.input_phone__ee {
  height: 13px;
  background-position: -1489px 0px;
}
.input_phone__flag.input_phone__eg {
  height: 14px;
  background-position: -1511px 0px;
}
.input_phone__flag.input_phone__eh {
  height: 10px;
  background-position: -1533px 0px;
}
.input_phone__flag.input_phone__er {
  height: 10px;
  background-position: -1555px 0px;
}
.input_phone__flag.input_phone__es {
  height: 14px;
  background-position: -1577px 0px;
}
.input_phone__flag.input_phone__et {
  height: 10px;
  background-position: -1599px 0px;
}
.input_phone__flag.input_phone__eu {
  height: 14px;
  background-position: -1621px 0px;
}
.input_phone__flag.input_phone__ez {
  height: 14px;
  background-position: -1643px 0px;
}
.input_phone__flag.input_phone__fi {
  height: 12px;
  background-position: -1665px 0px;
}
.input_phone__flag.input_phone__fj {
  height: 10px;
  background-position: -1687px 0px;
}
.input_phone__flag.input_phone__fk {
  height: 10px;
  background-position: -1709px 0px;
}
.input_phone__flag.input_phone__fm {
  height: 11px;
  background-position: -1731px 0px;
}
.input_phone__flag.input_phone__fo {
  height: 15px;
  background-position: -1753px 0px;
}
.input_phone__flag.input_phone__fr {
  height: 14px;
  background-position: -1775px 0px;
}
.input_phone__flag.input_phone__fx {
  height: 14px;
  background-position: -1797px 0px;
}
.input_phone__flag.input_phone__ga {
  height: 15px;
  background-position: -1819px 0px;
}
.input_phone__flag.input_phone__gb {
  height: 10px;
  background-position: -1841px 0px;
}
.input_phone__flag.input_phone__gd {
  height: 12px;
  background-position: -1863px 0px;
}
.input_phone__flag.input_phone__ge {
  height: 14px;
  background-position: -1885px 0px;
}
.input_phone__flag.input_phone__gf {
  height: 14px;
  background-position: -1907px 0px;
}
.input_phone__flag.input_phone__gg {
  height: 14px;
  background-position: -1929px 0px;
}
.input_phone__flag.input_phone__gh {
  height: 14px;
  background-position: -1951px 0px;
}
.input_phone__flag.input_phone__gi {
  height: 10px;
  background-position: -1973px 0px;
}
.input_phone__flag.input_phone__gl {
  height: 14px;
  background-position: -1995px 0px;
}
.input_phone__flag.input_phone__gm {
  height: 14px;
  background-position: -2017px 0px;
}
.input_phone__flag.input_phone__gn {
  height: 14px;
  background-position: -2039px 0px;
}
.input_phone__flag.input_phone__gp {
  height: 14px;
  background-position: -2061px 0px;
}
.input_phone__flag.input_phone__gq {
  height: 14px;
  background-position: -2083px 0px;
}
.input_phone__flag.input_phone__gr {
  height: 14px;
  background-position: -2105px 0px;
}
.input_phone__flag.input_phone__gs {
  height: 10px;
  background-position: -2127px 0px;
}
.input_phone__flag.input_phone__gt {
  height: 13px;
  background-position: -2149px 0px;
}
.input_phone__flag.input_phone__gu {
  height: 11px;
  background-position: -2171px 0px;
}
.input_phone__flag.input_phone__gw {
  height: 10px;
  background-position: -2193px 0px;
}
.input_phone__flag.input_phone__gy {
  height: 12px;
  background-position: -2215px 0px;
}
.input_phone__flag.input_phone__hk {
  height: 14px;
  background-position: -2237px 0px;
}
.input_phone__flag.input_phone__hm {
  height: 10px;
  background-position: -2259px 0px;
}
.input_phone__flag.input_phone__hn {
  height: 10px;
  background-position: -2281px 0px;
}
.input_phone__flag.input_phone__hr {
  height: 10px;
  background-position: -2303px 0px;
}
.input_phone__flag.input_phone__ht {
  height: 12px;
  background-position: -2325px 0px;
}
.input_phone__flag.input_phone__hu {
  height: 10px;
  background-position: -2347px 0px;
}
.input_phone__flag.input_phone__ic {
  height: 14px;
  background-position: -2369px 0px;
}
.input_phone__flag.input_phone__id {
  height: 14px;
  background-position: -2391px 0px;
}
.input_phone__flag.input_phone__ie {
  height: 10px;
  background-position: -2413px 0px;
}
.input_phone__flag.input_phone__il {
  height: 15px;
  background-position: -2435px 0px;
}
.input_phone__flag.input_phone__im {
  height: 10px;
  background-position: -2457px 0px;
}
.input_phone__flag.input_phone__in {
  height: 14px;
  background-position: -2479px 0px;
}
.input_phone__flag.input_phone__io {
  height: 10px;
  background-position: -2501px 0px;
}
.input_phone__flag.input_phone__iq {
  height: 14px;
  background-position: -2523px 0px;
}
.input_phone__flag.input_phone__ir {
  height: 12px;
  background-position: -2545px 0px;
}
.input_phone__flag.input_phone__is {
  height: 15px;
  background-position: -2567px 0px;
}
.input_phone__flag.input_phone__it {
  height: 14px;
  background-position: -2589px 0px;
}
.input_phone__flag.input_phone__je {
  height: 12px;
  background-position: -2611px 0px;
}
.input_phone__flag.input_phone__jm {
  height: 10px;
  background-position: -2633px 0px;
}
.input_phone__flag.input_phone__jo {
  height: 10px;
  background-position: -2655px 0px;
}
.input_phone__flag.input_phone__jp {
  height: 14px;
  background-position: -2677px 0px;
}
.input_phone__flag.input_phone__ke {
  height: 14px;
  background-position: -2699px 0px;
}
.input_phone__flag.input_phone__kg {
  height: 12px;
  background-position: -2721px 0px;
}
.input_phone__flag.input_phone__kh {
  height: 13px;
  background-position: -2743px 0px;
}
.input_phone__flag.input_phone__ki {
  height: 10px;
  background-position: -2765px 0px;
}
.input_phone__flag.input_phone__km {
  height: 12px;
  background-position: -2787px 0px;
}
.input_phone__flag.input_phone__kn {
  height: 14px;
  background-position: -2809px 0px;
}
.input_phone__flag.input_phone__kp {
  height: 10px;
  background-position: -2831px 0px;
}
.input_phone__flag.input_phone__kr {
  height: 14px;
  background-position: -2853px 0px;
}
.input_phone__flag.input_phone__kw {
  height: 10px;
  background-position: -2875px 0px;
}
.input_phone__flag.input_phone__ky {
  height: 10px;
  background-position: -2897px 0px;
}
.input_phone__flag.input_phone__kz {
  height: 10px;
  background-position: -2919px 0px;
}
.input_phone__flag.input_phone__la {
  height: 14px;
  background-position: -2941px 0px;
}
.input_phone__flag.input_phone__lb {
  height: 14px;
  background-position: -2963px 0px;
}
.input_phone__flag.input_phone__lc {
  height: 10px;
  background-position: -2985px 0px;
}
.input_phone__flag.input_phone__li {
  height: 12px;
  background-position: -3007px 0px;
}
.input_phone__flag.input_phone__lk {
  height: 10px;
  background-position: -3029px 0px;
}
.input_phone__flag.input_phone__lr {
  height: 11px;
  background-position: -3051px 0px;
}
.input_phone__flag.input_phone__ls {
  height: 14px;
  background-position: -3073px 0px;
}
.input_phone__flag.input_phone__lt {
  height: 12px;
  background-position: -3095px 0px;
}
.input_phone__flag.input_phone__lu {
  height: 12px;
  background-position: -3117px 0px;
}
.input_phone__flag.input_phone__lv {
  height: 10px;
  background-position: -3139px 0px;
}
.input_phone__flag.input_phone__ly {
  height: 10px;
  background-position: -3161px 0px;
}
.input_phone__flag.input_phone__ma {
  height: 14px;
  background-position: -3183px 0px;
}
.input_phone__flag.input_phone__mc {
  height: 15px;
  background-position: -3205px 0px;
}
.input_phone__flag.input_phone__md {
  height: 10px;
  background-position: -3226px 0px;
}
.input_phone__flag.input_phone__me {
  height: 10px;
  background-position: -3248px 0px;
}
.input_phone__flag.input_phone__mf {
  height: 14px;
  background-position: -3270px 0px;
}
.input_phone__flag.input_phone__mg {
  height: 14px;
  background-position: -3292px 0px;
}
.input_phone__flag.input_phone__mh {
  height: 11px;
  background-position: -3314px 0px;
}
.input_phone__flag.input_phone__mk {
  height: 10px;
  background-position: -3336px 0px;
}
.input_phone__flag.input_phone__ml {
  height: 14px;
  background-position: -3358px 0px;
}
.input_phone__flag.input_phone__mm {
  height: 14px;
  background-position: -3380px 0px;
}
.input_phone__flag.input_phone__mn {
  height: 10px;
  background-position: -3402px 0px;
}
.input_phone__flag.input_phone__mo {
  height: 14px;
  background-position: -3424px 0px;
}
.input_phone__flag.input_phone__mp {
  height: 10px;
  background-position: -3446px 0px;
}
.input_phone__flag.input_phone__mq {
  height: 14px;
  background-position: -3468px 0px;
}
.input_phone__flag.input_phone__mr {
  height: 14px;
  background-position: -3490px 0px;
}
.input_phone__flag.input_phone__ms {
  height: 10px;
  background-position: -3512px 0px;
}
.input_phone__flag.input_phone__mt {
  height: 14px;
  background-position: -3534px 0px;
}
.input_phone__flag.input_phone__mu {
  height: 14px;
  background-position: -3556px 0px;
}
.input_phone__flag.input_phone__mv {
  height: 14px;
  background-position: -3578px 0px;
}
.input_phone__flag.input_phone__mw {
  height: 14px;
  background-position: -3600px 0px;
}
.input_phone__flag.input_phone__mx {
  height: 12px;
  background-position: -3622px 0px;
}
.input_phone__flag.input_phone__my {
  height: 10px;
  background-position: -3644px 0px;
}
.input_phone__flag.input_phone__mz {
  height: 14px;
  background-position: -3666px 0px;
}
.input_phone__flag.input_phone__na {
  height: 14px;
  background-position: -3688px 0px;
}
.input_phone__flag.input_phone__nc {
  height: 10px;
  background-position: -3710px 0px;
}
.input_phone__flag.input_phone__ne {
  height: 15px;
  background-position: -3732px 0px;
}
.input_phone__flag.input_phone__nf {
  height: 10px;
  background-position: -3752px 0px;
}
.input_phone__flag.input_phone__ng {
  height: 10px;
  background-position: -3774px 0px;
}
.input_phone__flag.input_phone__ni {
  height: 12px;
  background-position: -3796px 0px;
}
.input_phone__flag.input_phone__nl {
  height: 14px;
  background-position: -3818px 0px;
}
.input_phone__flag.input_phone__no {
  height: 15px;
  background-position: -3840px 0px;
}
.input_phone__flag.input_phone__np {
  height: 15px;
  background-position: -3862px 0px;
}
.input_phone__flag.input_phone__nr {
  height: 10px;
  background-position: -3877px 0px;
}
.input_phone__flag.input_phone__nu {
  height: 10px;
  background-position: -3899px 0px;
}
.input_phone__flag.input_phone__nz {
  height: 10px;
  background-position: -3921px 0px;
}
.input_phone__flag.input_phone__om {
  height: 10px;
  background-position: -3943px 0px;
}
.input_phone__flag.input_phone__pa {
  height: 14px;
  background-position: -3965px 0px;
}
.input_phone__flag.input_phone__pe {
  height: 14px;
  background-position: -3987px 0px;
}
.input_phone__flag.input_phone__pf {
  height: 14px;
  background-position: -4009px 0px;
}
.input_phone__flag.input_phone__pg {
  height: 15px;
  background-position: -4031px 0px;
}
.input_phone__flag.input_phone__ph {
  height: 10px;
  background-position: -4053px 0px;
}
.input_phone__flag.input_phone__pk {
  height: 14px;
  background-position: -4075px 0px;
}
.input_phone__flag.input_phone__pl {
  height: 13px;
  background-position: -4097px 0px;
}
.input_phone__flag.input_phone__pm {
  height: 14px;
  background-position: -4119px 0px;
}
.input_phone__flag.input_phone__pn {
  height: 10px;
  background-position: -4141px 0px;
}
.input_phone__flag.input_phone__pr {
  height: 14px;
  background-position: -4163px 0px;
}
.input_phone__flag.input_phone__ps {
  height: 10px;
  background-position: -4185px 0px;
}
.input_phone__flag.input_phone__pt {
  height: 14px;
  background-position: -4207px 0px;
}
.input_phone__flag.input_phone__pw {
  height: 13px;
  background-position: -4229px 0px;
}
.input_phone__flag.input_phone__py {
  height: 11px;
  background-position: -4251px 0px;
}
.input_phone__flag.input_phone__qa {
  height: 8px;
  background-position: -4273px 0px;
}
.input_phone__flag.input_phone__re {
  height: 14px;
  background-position: -4295px 0px;
}
.input_phone__flag.input_phone__ro {
  height: 14px;
  background-position: -4317px 0px;
}
.input_phone__flag.input_phone__rs {
  height: 14px;
  background-position: -4339px 0px;
}
.input_phone__flag.input_phone__ru {
  height: 14px;
  background-position: -4361px 0px;
}
.input_phone__flag.input_phone__rw {
  height: 14px;
  background-position: -4383px 0px;
}
.input_phone__flag.input_phone__sa {
  height: 14px;
  background-position: -4405px 0px;
}
.input_phone__flag.input_phone__sb {
  height: 10px;
  background-position: -4427px 0px;
}
.input_phone__flag.input_phone__sc {
  height: 10px;
  background-position: -4449px 0px;
}
.input_phone__flag.input_phone__sd {
  height: 10px;
  background-position: -4471px 0px;
}
.input_phone__flag.input_phone__se {
  height: 13px;
  background-position: -4493px 0px;
}
.input_phone__flag.input_phone__sg {
  height: 14px;
  background-position: -4515px 0px;
}
.input_phone__flag.input_phone__sh {
  height: 10px;
  background-position: -4537px 0px;
}
.input_phone__flag.input_phone__si {
  height: 10px;
  background-position: -4559px 0px;
}
.input_phone__flag.input_phone__sj {
  height: 15px;
  background-position: -4581px 0px;
}
.input_phone__flag.input_phone__sk {
  height: 14px;
  background-position: -4603px 0px;
}
.input_phone__flag.input_phone__sl {
  height: 14px;
  background-position: -4625px 0px;
}
.input_phone__flag.input_phone__sm {
  height: 15px;
  background-position: -4647px 0px;
}
.input_phone__flag.input_phone__sn {
  height: 14px;
  background-position: -4669px 0px;
}
.input_phone__flag.input_phone__so {
  height: 14px;
  background-position: -4691px 0px;
}
.input_phone__flag.input_phone__sr {
  height: 14px;
  background-position: -4713px 0px;
}
.input_phone__flag.input_phone__ss {
  height: 10px;
  background-position: -4735px 0px;
}
.input_phone__flag.input_phone__st {
  height: 10px;
  background-position: -4757px 0px;
}
.input_phone__flag.input_phone__su {
  height: 10px;
  background-position: -4779px 0px;
}
.input_phone__flag.input_phone__sv {
  height: 12px;
  background-position: -4801px 0px;
}
.input_phone__flag.input_phone__sx {
  height: 14px;
  background-position: -4823px 0px;
}
.input_phone__flag.input_phone__sy {
  height: 14px;
  background-position: -4845px 0px;
}
.input_phone__flag.input_phone__sz {
  height: 14px;
  background-position: -4867px 0px;
}
.input_phone__flag.input_phone__ta {
  height: 10px;
  background-position: -4889px 0px;
}
.input_phone__flag.input_phone__tc {
  height: 10px;
  background-position: -4911px 0px;
}
.input_phone__flag.input_phone__td {
  height: 14px;
  background-position: -4933px 0px;
}
.input_phone__flag.input_phone__tf {
  height: 14px;
  background-position: -4955px 0px;
}
.input_phone__flag.input_phone__tg {
  height: 13px;
  background-position: -4977px 0px;
}
.input_phone__flag.input_phone__th {
  height: 14px;
  background-position: -4999px 0px;
}
.input_phone__flag.input_phone__tj {
  height: 10px;
  background-position: -5021px 0px;
}
.input_phone__flag.input_phone__tk {
  height: 10px;
  background-position: -5043px 0px;
}
.input_phone__flag.input_phone__tl {
  height: 10px;
  background-position: -5065px 0px;
}
.input_phone__flag.input_phone__tm {
  height: 14px;
  background-position: -5087px 0px;
}
.input_phone__flag.input_phone__tn {
  height: 14px;
  background-position: -5109px 0px;
}
.input_phone__flag.input_phone__to {
  height: 10px;
  background-position: -5131px 0px;
}
.input_phone__flag.input_phone__tr {
  height: 14px;
  background-position: -5153px 0px;
}
.input_phone__flag.input_phone__tt {
  height: 12px;
  background-position: -5175px 0px;
}
.input_phone__flag.input_phone__tv {
  height: 10px;
  background-position: -5197px 0px;
}
.input_phone__flag.input_phone__tw {
  height: 14px;
  background-position: -5219px 0px;
}
.input_phone__flag.input_phone__tz {
  height: 14px;
  background-position: -5241px 0px;
}
.input_phone__flag.input_phone__ua {
  height: 14px;
  background-position: -5263px 0px;
}
.input_phone__flag.input_phone__ug {
  height: 14px;
  background-position: -5285px 0px;
}
.input_phone__flag.input_phone__uk {
  height: 10px;
  background-position: -5307px 0px;
}
.input_phone__flag.input_phone__um {
  height: 11px;
  background-position: -5329px 0px;
}
.input_phone__flag.input_phone__un {
  height: 14px;
  background-position: -5351px 0px;
}
.input_phone__flag.input_phone__us {
  height: 11px;
  background-position: -5373px 0px;
}
.input_phone__flag.input_phone__uy {
  height: 14px;
  background-position: -5395px 0px;
}
.input_phone__flag.input_phone__uz {
  height: 10px;
  background-position: -5417px 0px;
}
.input_phone__flag.input_phone__va {
  height: 15px;
  background-position: -5439px 0px;
}
.input_phone__flag.input_phone__vc {
  height: 14px;
  background-position: -5456px 0px;
}
.input_phone__flag.input_phone__ve {
  height: 14px;
  background-position: -5478px 0px;
}
.input_phone__flag.input_phone__vg {
  height: 10px;
  background-position: -5500px 0px;
}
.input_phone__flag.input_phone__vi {
  height: 14px;
  background-position: -5522px 0px;
}
.input_phone__flag.input_phone__vn {
  height: 14px;
  background-position: -5544px 0px;
}
.input_phone__flag.input_phone__vu {
  height: 12px;
  background-position: -5566px 0px;
}
.input_phone__flag.input_phone__wf {
  height: 14px;
  background-position: -5588px 0px;
}
.input_phone__flag.input_phone__ws {
  height: 10px;
  background-position: -5610px 0px;
}
.input_phone__flag.input_phone__xk {
  height: 15px;
  background-position: -5632px 0px;
}
.input_phone__flag.input_phone__ye {
  height: 14px;
  background-position: -5654px 0px;
}
.input_phone__flag.input_phone__yt {
  height: 14px;
  background-position: -5676px 0px;
}
.input_phone__flag.input_phone__za {
  height: 14px;
  background-position: -5698px 0px;
}
.input_phone__flag.input_phone__zm {
  height: 14px;
  background-position: -5720px 0px;
}
.input_phone__flag.input_phone__zw {
  height: 10px;
  background-position: -5742px 0px;
}

.input_phone__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("../images/input-phone/flags.png?1");
  background-repeat: no-repeat;
  background-color: #dbdbdb;
  background-position: 20px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .input_phone__flag {
    background-image: url("../images/input-phone/flags@2x.png?1");
  }
}

.input_phone__flag.input_phone__np {
  background-color: transparent;
}